PROJECT_NAME="CinePass - Movie Ticket Booking API"
ENVIRONMENT="development"
PORT=8000

# MongoDB Configuration
MONGODB_URL="mongodb+srv://<username>:<password>@cluster0.mongodb.net/movie_booking_db?retryWrites=true&w=majority"
DATABASE_NAME="movie_booking_db"

# Security / Auth
JWT_SECRET_KEY="your_secure_random_secret_key_here"
JWT_ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Admin Seed Account
ADMIN_FULL_NAME="System Admin"
ADMIN_EMAIL="admin@cinepass.com"
ADMIN_PASSWORD="AdminPassword123!"
